@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    background-color: darkgray;
}

body {
    border: 0;
    margin: 0;
}

canvas {
    margin: 20px;
    background-color: white;
    box-shadow: 1px 1px 4px black;
}

#tray {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 4px black;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    padding: 2px;
}

#tray > label {
    display: flex;
    flex-direction: column-reverse;
}

#tray > label > span {
    font-family: sans-serif;
    font-size: 12px;
}

p {
    padding: 20px;
    margin: 0;
}
